includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - src
    - tests
  tmpDir: .phpstan
  parallel:
    maximumNumberOfProcesses: 1
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: function.alreadyNarrowedType
    - identifier: foreach.emptyArray
    - identifier: nullsafe.neverNull
    - identifier: argument.type
    - identifier: return.type
    - identifier: offsetAccess.notFound
